@model Data.ViewModels.HomeIndexViewModel
@{ 
    Layout = null;
}
<table id="TableMain" class="table table-bordered table-hover table-condensed table-row-vertical-align-middle table-nonfluid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Identifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().MSL_Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().RemTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Items)
        {
            if (row.RemTime < 100)
            {
        <tr style="background-color: red; color:white;">
            <td data-sort="@row.Identifier">
                @Html.DisplayFor(model => row.Identifier)
            </td>
            <td data-sort="@row.Material">
                @Html.DisplayFor(model => row.Material)
            </td>
            <td data-sort="@row.MSL_Level">
                @Html.DisplayFor(model => row.MSL_Level)
            </td>
            <td>
                @Html.DisplayFor(model => row.Location)
            </td>
            <td>
                @Html.DisplayFor(model => row.Quantity)
            </td>
            <td data-sort="@row.RemTime">
                @Html.DisplayFor(model => row.RemTime)
            </td>
        </tr>
            }
            else
            {
    <tr>
        <td data-sort="@row.Identifier">
            @Html.DisplayFor(model => row.Identifier)
        </td>
        <td data-sort="@row.Material">
            @Html.DisplayFor(model => row.Material)
        </td>
        <td data-sort="@row.MSL_Level">
            @Html.DisplayFor(model => row.MSL_Level)
        </td>
        <td>
            @Html.DisplayFor(model => row.Location)
        </td>
        <td>
            @Html.DisplayFor(model => row.Quantity)
        </td>
        <td data-sort="@row.RemTime">
            @Html.DisplayFor(model => row.RemTime)
        </td>
    </tr>
            }
        }
    </tbody>
</table>

<script type="text/JavaScript">
    $("#TableMain").DataTable({
        //"scrollCollapse": true,
        "paging": false,
        "fixedHeader": true,
        //scrollY: '500px',
        fixedHeader: {
            header: true,
            footer: true
        },
        "order": [[4, "asc"]],
        //"bLengthChange": false,
        //"Filter": false,
        //"Info": false,
        "columnDefs": [
            { "targets": -1, "orderable": true }
        ],
        "dom": '<"toolbar">fltip'
    });
</script>